<div class="span3">
      <div class="well sidebar-nav">
        <h3>Sidebar</h3>
        <ul class="nav nav-list">
          
          
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->